@charset "UTF-8";
@import "../css/normalize.css";
.navigation .navigation__item #desctop {
  display: none;
}
.navigation .navigation__item #desctop li:last-child {
  margin-right: 0px;
}

.info__menu {
  width: 100%;
}

#burg {
  text-align: center;
  background-color: #f8f8f8;
  margin: 0;
  height: 50px;
  width: 33%;
  position: fixed;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) inset;
  top: 0;
  left: 33%;
}
#burg a {
  width: 33%;
  text-align: center;
}
#burg a svg {
  padding: 10px 0;
  width: 25px;
  height: 25px;
  color: #464b50;
}
#burg:hover a svg {
  color: #992c2f;
}

.mobile-tab {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 47px;
  width: 100%;
  background-color: #f8f8f8;
  z-index: 9999;
}
.mobile-tab #mobile {
  border-bottom: #cccdcf;
}
.mobile-tab #mobile ul {
  padding: 0px 0 5% 0;
}
.mobile-tab #mobile li {
  list-style: none;
  margin: 5% 5%;
  text-transform: uppercase;
}
.mobile-tab #mobile a {
  font-size: 1.3em;
  color: #464b50;
  text-decoration: none;
  font-weight: bold;
  line-height: 36px;
  margin: 0;
  margin-left: 8px;
  padding-bottom: 6px;
  letter-spacing: 0.5px;
}

@media screen and (min-width: 768px) {
  #burg {
    left: 0;
  }
}
@media screen and (min-width: 900px) {
  .navigation {
    margin-left: 40px;
  }
  .navigation .navigation__item #desctop {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-items: center;
    height: 50px;
  }
  .navigation .navigation__item #desctop a {
    color: #464b50;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    margin-right: 38px;
  }
  .navigation .navigation__item #desctop a:hover {
    color: #992c2f;
    font-weight: 500;
  }

  .mobile-tab,
#burg,
#mobile {
    display: none;
  }
}
/********************nav-menu*******************/
.navigation-nav {
  margin-top: 10px;
}
.navigation-nav .navigation-nav__item #desctop-nav {
  display: none;
}
.navigation-nav .navigation-nav__item #desctop-nav li:last-child {
  margin-right: 0px;
}

#burg-nav {
  top: 0;
  left: 0;
  text-align: center;
  background-color: #f8f8f8;
  margin: 0;
  height: 50px;
  width: 33%;
  position: fixed;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) inset;
}
#burg-nav a {
  width: 33%;
  text-align: center;
}
#burg-nav a svg {
  padding: 10px 0;
  width: 25px;
  height: 25px;
  color: #464b50;
}
#burg-nav:hover a svg {
  color: #992c2f;
}

.mobile-tab-nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 47px;
  width: 100%;
  background-color: #f8f8f8;
  z-index: 9999;
}
.mobile-tab-nav #mobile-nav {
  border-bottom: #cccdcf;
}
.mobile-tab-nav #mobile-nav ul {
  padding: 0px 0 5% 0;
}
.mobile-tab-nav #mobile-nav li {
  list-style: none;
  margin: 5% 5%;
  text-transform: uppercase;
}
.mobile-tab-nav #mobile-nav a {
  font-size: 1.3em;
  color: #464b50;
  text-decoration: none;
  font-weight: bold;
  line-height: 36px;
  margin: 0;
  margin-left: 8px;
  padding-bottom: 6px;
  letter-spacing: 0.5px;
}

@media screen and (min-width: 768px) {
  .navigation-nav .navigation-nav__item {
    margin: auto;
    max-width: 100%;
    height: 67px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #cccdcf;
    box-sizing: border-box;
  }
  .navigation-nav .navigation-nav__item #desctop-nav {
    display: flex;
  }
  .navigation-nav .navigation-nav__item #desctop-nav a {
    font-weight: 700;
    color: #464b50;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .navigation-nav .navigation-nav__item #desctop-nav a span {
    padding-bottom: 6px;
  }
  .navigation-nav .navigation-nav__item #desctop-nav a:hover span {
    border-bottom: 1px dotted #992c2f;
    color: #992c2f;
  }
  .navigation-nav .navigation-nav__item #desctop-nav a:not(:first-child):before {
    content: "|";
    color: #d8d8d8;
    margin: 0 20px;
  }

  .mobile-tab-nav,
#burg-nav,
#mobile-nav {
    display: none;
  }
}
#slider {
  margin-bottom: 100px;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slider-holder {
  min-width: 0;
}
.slider-holder img {
  max-width: 100%;
  width: 100%;
}

.slider-container {
  position: relative;
  width: 100%;
}

.slider-container .item {
  outline: none;
  padding: 0;
  position: relative;
}

.slides-numbers {
  color: #fff;
  display: none;
  right: 12%;
  font-family: "Uni Neue Book";
  position: absolute;
  bottom: 25%;
  opacity: 1;
  z-index: 999;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.1em;
}
.slides-numbers .active {
  color: #fff;
  opacity: 1;
  font-size: 30px;
  margin-right: -6px;
  font-size: 48px;
}
.slides-numbers .total {
  margin-left: -5px;
  opacity: 0.6;
  font-size: 24px;
  color: #222226;
}

.slider-holder button.slick-arrow {
  position: absolute;
  bottom: 20%;
  right: 10%;
  z-index: 10;
  border: 0;
  text-transform: lowercase;
  cursor: pointer;
  width: 50px;
  height: 14px;
  font-size: 0;
}
.slider-holder button.slick-arrow.slick-next {
  background: url("../img/right-arrow.png") no-repeat;
  background-position-y: 1px;
}
.slider-holder button.slick-arrow.slick-prev {
  background: url("../img/left-arrow.png") no-repeat;
  margin-right: 70px;
}

.description {
  position: absolute;
  z-index: 999;
  top: 15%;
  vertical-align: middle;
  color: #fff;
  max-width: 520px;
  left: 10%;
}
.description .heading {
  font-size: 48px;
  font-weight: normal;
  line-height: 60px;
  margin: 0;
  font-family: "Uni Neue Book";
}
.description .heading img {
  display: inline-block;
  width: 47px;
  height: 8px;
  vertical-align: middle;
}
.description .text {
  margin: 46px 0 60px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}
.description a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  padding-bottom: 6px;
}
.description a span {
  margin-right: 20px;
}
.description a:hover {
  border-bottom: 0.5px dotted;
  padding-bottom: 6px;
}

.media-wrap__item img {
  position: relative;
}

@media screen and (max-width: 1200px) {
  .description {
    top: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .description {
    top: 20px;
  }
  .description .text {
    margin: 5px 0;
  }

  .slider-holder img {
    height: 400px;
    width: auto;
    max-width: unset;
  }
}
@media screen and (max-width: 550px) {
  .description .heading {
    margin-bottom: 40px;
  }

  .text {
    display: none;
  }

  .slider-holder button.slick-arrow {
    position: absolute;
    bottom: 10%;
  }

  .slides-numbers {
    bottom: 14%;
  }

  .info__socials {
    display: none;
  }
}
@font-face {
  font-family: "Uni Neue Book";
  src: url("../fonts/UniNeueBook.eot");
  src: local("☺"), url("../fonts/UniNeueBook.woff") format("woff"), url("../fonts/UniNeueBook.ttf") format("truetype"), url("../fonts/UniNeueBook.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #fff;
  color: #464b50;
  font-family: "Comfortaa", cursive;
}

.info {
  height: 50px;
  width: 100%;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.info .info__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.info .info__buttons .info__socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #a5a7a9;
  cursor: pointer;
}
.info .info__buttons .info__socials .rounded {
  width: 24px;
  height: 23px;
  border: 1px solid #a5a7a9;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0 3px;
}
.info .info__buttons .info__socials .rounded svg {
  align-self: center;
  width: 15px;
  height: 10px;
}
.info .info__buttons .info__socials .rounded:hover {
  background-color: #992c2f;
  border-color: #992c2f;
  color: #fff;
}
.info .info__buttons .language select {
  font-size: 14px;
  color: #464b50;
  border: none;
  background-color: inherit;
  cursor: pointer;
  margin: 0 40px;
}
.info .info__buttons .language select:hover {
  color: #992c2f;
}

.logo-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 28px 40px;
}
.logo-section .phone {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo-section .phone .phone__number {
  border: 1px solid #992c2f;
  border-radius: 23px;
  height: 47px;
  width: 207px;
  box-sizing: border-box;
  padding: 8px 23px 8px 8px;
  display: flex;
  align-items: center;
}
.logo-section .phone .phone__number a {
  text-decoration: none;
  color: #992c2f;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo-section .phone .phone__number:hover {
  background-color: #f8f8f8;
}
.logo-section .phone .logo-section__form a {
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  color: #992c2f;
  margin-left: 30px;
  padding: 0 7px;
  border: 1px solid #fff;
}
.logo-section .phone .logo-section__form:hover a {
  padding: 16px 7px;
  width: 47px;
  border-radius: 23px;
  border: 1px solid #992c2f;
  box-sizing: border-box;
  font-weight: 400;
}
.logo-section .logo-section__login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo-section .logo-section__login .login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo-section .logo-section__login .login a {
  font-weight: 400;
  text-decoration: none;
  color: #464b50;
  cursor: pointer;
}
.logo-section .logo-section__login .login a span {
  padding-bottom: 6px;
}
.logo-section .logo-section__login .login a:first-child::after {
  content: "|";
  color: #d8d8d8;
  margin: 0 20px;
}
.logo-section .logo-section__login .login a:hover span {
  color: #992c2f;
  border-bottom: 0.5px dotted;
  padding-bottom: 6px;
}
.logo-section .logo-section__login .logo-section__search {
  margin-left: 30px;
}
.logo-section .logo-section__login .logo-section__search form {
  width: auto;
  float: right;
  position: relative;
}
.logo-section .logo-section__login .logo-section__search form input {
  width: 244px;
  height: 45px;
  box-sizing: border-box;
  padding-left: 22px;
  border-radius: 23px;
  border: 1px solid #cccdcf;
  outline: none;
  position: relative;
  transition: 0.3s linear;
  color: #8c8c8d;
  font-size: 12px;
}
.logo-section .logo-section__login .logo-section__search form input:focus {
  width: 300px;
}
.logo-section .logo-section__login .logo-section__search button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: 3px;
  right: 13px;
}
.logo-section .logo-section__login .logo-section__search button:before {
  content: url("/img/search.svg");
}

@media screen and (max-width: 1200px) {
  .navigation .navigation__item #desctop a {
    margin-right: 10px;
    text-align: center;
    justify-content: flex-start;
  }

  .logo-section .phone {
    flex-direction: column;
  }
  .logo-section .phone .logo-section__form {
    margin-top: 20px;
  }
  .logo-section .phone .logo-section__form a {
    margin-left: 5px;
  }

  .logo-section .logo-section__login {
    flex-direction: column-reverse;
    align-items: center;
  }
  .logo-section .logo-section__login .logo-section__search {
    margin-left: 0;
  }
}
@media screen and (max-width: 840px) {
  .logo-section__logo {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .logo-section .phone {
    flex-direction: row;
  }
  .logo-section .phone .logo-section__form {
    margin-top: 0px;
  }

  .logo-section .logo-section__login {
    flex-direction: row;
    align-items: center;
  }
  .logo-section .logo-section__login .logo-section__search {
    margin-left: 30px;
  }

  .info {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) inset;
  }
  .info .info__buttons .language select {
    margin: 0 20px;
  }

  .logo-section__logo {
    display: none;
  }

  .logo-section {
    padding: 28px 20px;
  }
  .logo-section .phone .phone__number {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border: 0;
    padding-right: 10px;
  }
  .logo-section .phone .phone__number img {
    transform: scale(1.1);
  }
  .logo-section .phone .phone__number p {
    display: none;
  }
  .logo-section .phone .logo-section__form a {
    margin-left: 0px;
  }
  .logo-section .phone .logo-section__form:hover a {
    padding: 15px 7px;
  }

  .logo-section .logo-section__login .logo-section__search form input {
    width: 120px;
  }
  .logo-section .logo-section__login .logo-section__search form input:focus {
    width: 190px;
  }
}
@media screen and (max-width: 580px) {
  .logo-section .logo-section__login .login {
    flex-direction: column;
  }
  .logo-section .logo-section__login .logo-section__search {
    margin-left: 5px;
  }

  .info .info__buttons .info__socials {
    display: none;
  }

  .logo-section .phone .logo-section__form a {
    display: none;
  }
}