@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin paddings {
    padding: 0 40px;
}

@mixin dash {
    content: "|";
    color: $dashColor;
    margin: 0 20px;
}

@mixin hover-dott {
    border-bottom: 0.5px dotted;
    padding-bottom: 6px;
}

@mixin burg {
    text-align: center;
    background-color: $topMenuColor;
    margin: 0;
    height: 50px;
    width: 33%;
    position: fixed;
    box-shadow: $boxShadow;
}