@import "../css/normalize.css";
@import "variables.scss";
@import "mixins.scss";
@import "menu.scss";

body {
    background-color: $background;
    color: $fontColor;
    font-family: $font;
}

// .info-content {
//     background-color: $topMenuColor;
//     padding: 0 40px;
// }

.info {
    height: 50px;
    width: 100%;
    background-color: $topMenuColor;
    @include flex-row;

    .info__buttons {
        @include flex-row;
        align-items: center;

        .info__socials {
            @include flex-row;
            color: $socialsColor;
            cursor: pointer;

            .rounded {
                width: 24px;
                height: 23px;
                border: 1px solid $socialsColor;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-self: center;
                margin: 0 3px;

                svg {
                    align-self: center;
                    width: 15px;
                    height: 10px;
                }

                &:hover {
                    background-color: $phoneColor;
                    border-color: $phoneColor;
                    color: $background;
                }

            }
        }

        .language {
            select {
                font-size: $fSize;
                color: $fontColor;
                border: none;
                background-color: inherit;
                cursor: pointer;
                margin: 0 $content;

                &:hover {
                    color: $phoneColor;
                }
            }
        }
    }
}


.logo-section {
    @include flex-row;
    padding: 28px $content;

    .phone {
        display: flex;
        flex-direction: row;
        align-items: center;

        .phone__number {
            border: 1px solid $phoneColor;
            border-radius: 23px;
            height: 47px;
            width: 207px;
            box-sizing: border-box;
            padding: 8px 23px 8px 8px;
            display: flex;
            align-items: center;

            & a {
                text-decoration: none;
                color: $phoneColor;
                display: flex;
                font-weight: 500;
                font-size: $fSize;
                width: 100%;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
        }

        .logo-section__form {
            a {
                font-size: 12px;
                font-weight: 400;
                text-decoration: none;
                color: $phoneColor;
                margin-left: 30px;
                padding: 0 7px;
                border: 1px solid $background;
            }

            &:hover a {
                padding: 16px 7px;
                width: 47px;
                border-radius: 23px;
                // background-color: $phoneColor;
                // color: $background;
                border: 1px solid $phoneColor;
                box-sizing: border-box;
                font-weight: 400;
            }
        }
    }

    .logo-section__login {
        @include flex-row;
        align-items: center;

        a {
            font-weight: 400;
            text-decoration: none;
            color: $fontColor;
            cursor: pointer;

            span {
                padding-bottom: 6px;
            }

            &:first-child::after {
                @include dash;
            }

            &:hover span {
                color: $phoneColor;
                @include hover-dott;
            }
        }

        .logo-section__search {
            margin-left: 30px;

            form {
                width: auto;
                float: right;
                position: relative;

                input {
                    width: 244px;
                    height: 45px;
                    box-sizing: border-box;
                    padding-left: 22px;
                    border-radius: 23px;
                    border: 1px solid $searchBorderColor;
                    outline: none;
                    position: relative;
                    transition: .3s linear;
                    color: $searchColor;
                    font-size: 12px;

                    &:focus {
                        width: 300px;
                    }
                }


            }

            button {
                width: 42px;
                height: 42px;
                background: none;
                border: none;
                position: absolute;
                top: 3px;
                right: 13px;

                &:before {
                    content: url("/img/search.svg");

                }
            }
        }

    }
}


.topnav {
    font-size: $fSize;

    .topnav__item {
        font-weight: 700;
        color: $fontColor;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;

        &:hover span {
            border-bottom: 2px solid $fontColor;
        }

        &:not(:first-child):before {
            @include dash;
        }
    }

    .icon {
        display: none;
    }
}

