$background: #fff;
$fontColor: #464b50;
$fSize: 14px;
$font: 'Comfortaa',
cursive;
$topMenuColor: #f8f8f8;
$socialsColor: #a5a7a9;
$content: 40px;
$searchColor: #8c8c8d;
$searchBorderColor: #cccdcf;
$phoneColor: #992c2f;
$dashColor: #d8d8d8;
$borderBlock: #cccdcf;